nav.navbar.top-navbar.navbar-expand-md.bg-header-black.navbar-dark
  .container
    a.navbar-brand(href='/')
      i.mdi.mdi-diamond.pr-3
      | Event Management
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        li.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        li.nav-item(class=(title === 'Public Events') ? 'active' : undefined)
          a.nav-link(href='/events') Public Events
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Admin') ? 'active' : undefined)
          a.nav-link(href='/admin') Admin
  